.testimonial-blockquote {
	background: #f7f7f7;
	border: 1px solid #ececec;
	margin: 0;
	padding: 40px;
}

.testimonial-text {
	margin-bottom: 16px;
}

.testimonial-wrapper {
}

.testimonial-image .image {
	width: 64px;
	height: 64px;
	margin-right: 20px;
	border-radius: 100%;
}

.testimonial-image img {
	object-fit: cover;
	width: 100%;
	border-radius: 100%;
}

.testimonial-meta {
	display: flex;
	align-items: center;
}

.testimonial-wrapper {
}
