.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item:first-child {
  grid-row: span 2 / span 2;
}
